$defaultColor:#d1d1d1;
$blue: #1271ca;
$sky: #03a9f4;
$green: #6b9f2f;
$yellow: #ffb300;
$red: #fa322b;
$orange: #e97f02;
$brown:#66401d;
$dark:#333;
$validColor: red;

fieldset, fieldset * 
{ box-sizing: border-box; line-height:1em; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; outline: none !important; }

fieldset
{
    border:none; width:100%; margin:0; padding: 5px;
    & > legend
    { 
        width:auto; color:darken($defaultColor, 40); font-size:1.2em; font-weight:600; display:inline-block; float:left; margin:8px 10px 8px 0; z-index:1;
        &.full { width:100%; }
    }

    & > slot
    {
        &, &.selectbox > span
        { 
           display: inline-block; width:100%; min-height:28px; position:relative; padding:0; margin:0;
           border:1px solid $defaultColor; border-radius:3px;
           box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, 0.1);
        }
        & > input, & > textarea { width:100%; border:none; padding:7px; margin:0; font-size:1.1em; letter-spacing:.06em; border-radius:3px; color:darken($defaultColor, 30); background-color:transparent; }
        & > input { height:auto; }
        & > textarea { line-height:1.3em; resize:none; overflow-y:auto; }
        & select { display:none; }
        &.selectbox { 
            border:none;
            & > span {
                display:inline-block; float:left; width:100%; min-height:31px;
                word-break:break-word; font-size:1.1em;
                padding:7px; padding-right:35px; color:darken($defaultColor, 30);
                cursor:pointer;
                &:after, &:before
                {
                    content:""; border-width:6px; border-style:solid; border-bottom:6px solid $defaultColor; border-top:none; border-left-color:transparent; border-right-color:transparent;
                    position: absolute; top: 50%; margin-top: -6px; right:10px; line-height: 0;
                }
                &:before { border-top:6px solid $defaultColor; border-bottom:none; margin-top:2px; }
            }
            &> ul.drop-down { 
                position:absolute; top:100%; left: 0; display:none;
                width:100%; height: auto; padding: 0; margin:0; margin-top:2px;
                border-radius: 3px; border:1px solid rgba(0, 0, 0, 0.4);
                box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.3);
                list-style: none; background-color:lighten($defaultColor, 30); z-index: 99;
                &.open { display:inline-block; }
                &> li {
                    width:100%; padding: 10px 15px; float: left; cursor:pointer;
                    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
                    transition: all .2s; text-align:left; font-size:1em; font-weight:200;
                    color:darken($defaultColor, 30); font-weight:400;
                    border-top:1px solid rgba(255,255,255,.3);
                    border-bottom:1px solid rgba(0,0,0,.15);
                    &:hover { background-color: lighten($defaultColor, 5); color:darken($defaultColor, 30); text-shadow: 1px 1px 2px rgba(255,255,255,.5); }
                    &.active {  background-color: darken($defaultColor, 30); color: lighten($defaultColor, 30); font-weight: 900; text-shadow:none; }
                    &:first-child { border-top-left-radius:2px; border-top-right-radius:2px; border-top:none;}
                    &:last-child { border-bottom-left-radius:2px; border-bottom-right-radius:2px; border-bottom:none; }
                }
            }
            &.up {
                & > ul.drop-down { top:auto; bottom:100%; margin-top:0; margin-bottom:2px; }
            }
        }

    }

    & > label {
        float:left; margin:8px 0; padding:0 5px; font-size:1em; font-weight:normal; color:#666; cursor:pointer;
        & > input { 
            display:none;
            & + span {
                display:inline-block; vertical-align:middle; line-height:1em; position:relative;
                &:before
                { content:" "; float:left; width:13px; height:13px; padding:0; margin:1px 5px 0 0; box-sizing:border-box; display:inline-block;  border-radius:4px; background-color:#666; }
            }
            &[type=checkbox]
            { 
                &:checked + span:before { content:"\2714"; color:white; font-size:11px; font-weight:600; text-align:center; }
            }
            &[type=radio]{ 
                & + span:before { width:14px; height:14px; padding:2px; margin:0 5px 0 0; border-radius:16px; background-color:transparent; border:2px solid #666 ; }
                &:checked + span:after { content:" "; width:6px; height:6px; display:inline-block; background-color:#666; border-radius:6px; position:absolute; top:4px; left:4px; }
            } 
        }
    }

    &:not([disabled]) {
        &.valid {
            & > legend { color:#{$validColor}; }
            & > slot, & > slot.selectbox > span { border-color:#{$validColor}; box-shadow:1px 1px 3px 1px rgba(0,0,0,0.2); }
        }
        & > slot {            
            &.selectbox {
                & > span:hover:after, &.up > span:hover:after
                { border-bottom-color:darken($defaultColor, 20); }
                & > span:hover:before, &.up > span:hover:before
                { border-top-color:darken($defaultColor, 20); }
            }
        }
        &.valid > label > input + span, & > label.valid > input + span{ color:#{$validColor}; }
        &.valid > label > input[type=checkbox] + span:before, & > label.valid > input[type=checkbox] + span:before { background-color:#{$validColor}; }
        &.valid > label > input[type=radio] + span:after, & > label.valid > input[type=radio] + span:after { background-color:#{$validColor}; }
        &.valid > label > input[type=radio] + span:before, & > label.valid > input[type=radio] + span:before { border-color:#{$validColor}; }
    }
    &[disabled] > label > input, & > label > input[disabled], &[disabled] > label > input[disabled] {
        & + span { color:$defaultColor; text-decoration:line-through; cursor: default; }
        &[type=checkbox] + span:before { background-color:$defaultColor; }
        &[type=radio] + span:after {background-color:$defaultColor;}
        &[type=radio] + span:before { border-color:$defaultColor; }
    }
    &[disabled] {
        & > legend { color:$defaultColor; }
        & > slot
        {
            &.selectbox 
            {
                & > span:after, &.up > span:before { border-bottom-color:$defaultColor; }
                &.up > span:after, & > span:before { border-top-color:$defaultColor; }
            }
            &, &.selectbox > span { border-color:$defaultColor; box-shadow: inset 0px 0px 3px 0px rgb(255, 255, 255); background-color: lighten($defaultColor, 10); };
            & > input, & > textarea, &.selectbox > span { color:$defaultColor; font-weight: 100; text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.6); }
        }
        & > label { cursor:default; }
    }
}